    <div id="footer">
            <div id="footer-content" class="clearfix">
                <div id="footer-widgets" class="clearfix">
                    <div id="customlogowidget-3" class="footer-widget widget_customlogowidget">
                        <div class="logo">
                        <p id="footer-logo"><img alt="" src="{{ asset('images/logo.png')}}"></p>
                        <h1>Megs Art</h1>
                        <p>ONE OF A KIND ARTWORKS</p>
                        </div>
                        <div class="clearfix"></div>
                        <p id="selfColor">Thank you for visiting my website! For a complimentary postcard send me your name and address and i will mail one out to you! Feel free to sign up and comment! Enjoy!</p>
                    </div>
                    <!-- end .footer-widget -->
                    <div class="recent">
                        <h4 class="widgettitle">Recent Posts</h4>
                        <ul>
                           {% for posts in arts %} 
                            <li>
                                <a href="/details/{{posts.id}}">{{posts.artTitle}}</a>
                            </li>
                           {% endfor %}
                        </ul>
                    </div>
                    <!-- end .footer-widget -->
                    <div class="recent">
                        <h4 class="widgettitle">Copyright</h4>
                        <div class="textwidget">
                            <p>All artworks on this website are copyright Miglena Stoyanova. None of the images of the this site are to be used without prior permission of Miglena Stoyanova. This includes copy, reproduce, print or transmit. 
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- end .footer-widget -->
                    <div class="recent">
                        <h4 class="widgettitle">Recent Comments</h4>
                        <ul id="recentcomments">
                            {% for comment in comments %}
                            <li class="recentcomments"><span class="comment-author-link"><a href="/details/{{comment.artId.id}}" rel="external nofollow" class="url">{{comment.artId.artTitle}}: {{comment.artComment}}</a></span> on <a href="#">{{comment.userId.userName}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- end #footer-widgets -->
                <div class='clearfix'></div>
                <p id="copyright">Designed by <a href="#" title="Premium WordPress Themes">Elegant Themes</a> | Powered by <a href="#">WordPress</a></p>
            </div>
            <!-- end #footer-content -->
        </div>

