<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}">
            <link href="//fonts.googleapis.com/css?family=Kreon:300,400" rel='stylesheet' type='text/css'>
            <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/fonts.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
        <a href="#" id="control-close"><img src="{{ asset('images/right.png') }}"/></a>
    <div class="control-panel">
        <a href="#" id="control-panel-close"><img src="{{ asset('images/close.png') }}"/></a>
        <h5>Background Textures</h5>
        <h6>Choose a custom BG image</h6>
        <a href="#" title="Background textures" class="note-back" id="body-bg"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg1"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg2"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg3"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg4"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg5"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg6"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg7"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg8"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg9"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg10"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg11"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg12"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg13"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg14"></a>
        <a href="#" title="Background textures" class="note-back" id="body-bg15"></a>
    </div>
     <div id="container">
     {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
            <div class="alert-{{ type }}">
            <span class="closebtn">&times;</span> 
                {{ flash_message }}
            </div>
        {% endfor %}
        {% endfor %}
         <div id="header">
             <div class="logo">
                 <img src="{{ asset('images/logo.png')}}" alt="logo">
                 <h1>Megs Art</h1>
                 <p>ONE OF A KIND ARTWORKS</p>
             </div>
             <div id="additional-info">
                 <div id="social">
                     <ul>
                         <li>
                             <a href="#"><img src="{{ asset('images/twitter.png')}}" alt="twitter"></a>
                         </li>
                         <li>
                             <a href="#"><img src="{{ asset('images/rss.png')}}" alt="linkedin"></a>
                         </li>
                         <li>
                             <a href="https://www.facebook.com/Miglena-Stoyanova-Art-1636465023242319/?fref=ts"><img src="{{ asset('images/facebook.png')}}" alt="facebook"></a>
                         </li>
                     </ul>
                 </div>
                 <div id="search">
                     <form id="searchform">
                         <input type="text" id="searchinput" name="search" placeholder="Search this website...">
                         <input type="image" id="searchsubmit" src="{{ asset('images/magnifier.png')}}">
                     </form>
                 </div>
             </div>
             <div id="nav-main">
                 <ul>
                     <li><a href="/">Home</a></li>
                     <li><a href="/about">About</a></li>
                     <li><a href="/contact">Contact Us</a></li>
                     <li><a href="/paintings">Paintings For Sale</a></li>
                     <li><a href="/gallery">Gallery</a></li>
                     {% if not app.user %}<li><a href="/login">Login</a></li>
                         <li><a href="/register">Register</a></li>{% endif %}
                         {% if app.user %}<li><a href="/logout">Logout</a></li>{% endif %} 
                                              {% if app.user %}
                             {% if app.user.userRole=='ROLE_ADMIN' %}
                             <li class="submenu"><a href="#">Administration</a>
                                 <ul id="sub-menu">
                                     <li><a href="/administration/create">Add paintings</a>
                                     <li><a href="/administration/paintings">Paintings</a>
                                     <li><a href="/administration/comments">Comments</a>
                                     <li><a href="/administration/users">Users</a> 
                                 </ul>
                             </li>
                         {% endif %}
                     {% endif %}
                     </ul>
                 </div>
                     <div id="nav-trigger">
                         <img src="{{ asset('images/down_arrow.png')}}"/><span>Navigation</span>
                     </div>
                     <nav id="nav-mobile"></nav>    
             </div>           
        <div class="clearfix"></div>
        <div id="wrapper">
            {% block pagemenu %}
                <div class="page page-base">
                    <ul id="page-menu">
                        <li><a class="darkgrey" href="/">HOME</a></li>
                        <li><a class="darkgrey" href="/about">ABOUT</a></li>
                        <li><a class="darkgrey" href="/contact">CONTACT US</a></li>
                        <li><a class="darkgrey" href="/paintings">PAINTINGS FOR SALE</a></li>
                        <li><a class="darkgrey" href="/gallery">GALLERY</a></li>
                        {% if not app.user %}<li><a class="darkgrey" href="/login">LOGIN</a></li>
                            <li><a class="darkgrey" href="/register">REGISTER</a></li>{% endif %}
                            {% if app.user %}<li><a class="darkgrey" href="/logout">LOGOUT</a></li>{% endif %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
    {% block body %}
        
    {% endblock %}
    {% block footer %}
        {{ render(controller('AppBundle:Arts:_findArts')) }}
    {% endblock %}
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
  crossorigin="anonymous"></script>
    <script src="{{ asset('js/jquery.flexslider-min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/mymodal.js')}}"></script>
{% endblock %}
</div>
</body>
</html>
