{% extends 'base.html.twig' %} {% block title %}Comments | Megs Art{% endblock %} 
{% block pagemenu %}
    <div class="page">
        <ul class="page-menu">
            <li><a class="darkgrey" href="/">Home</a></li>
            <span class="grey">»</span>
            <li><a class="grey"> {{ app.request.attributes.get('_route') }}</a></li>
        </ul>
    </div>    
{% endblock %}
{% block body %}
    <div id="content-top">
        <div id="content-desc">
            <h1 class="content-title">{{pageTitle}}</h1>
            <p class="content-description">{{pageDesc}}
            </p>
        </div>
    </div>  
    <div id="content">
        {% for comment in comments %}
            <div class="publications">
                <p>For  <a href="/details/{{comment.artId.id}}">{{comment.artId.artTitle}}</a> -- comment: {{comment.artComment}} posted on {{comment.commentDate | date("d.m.Y")}} from {{comment.userId.userName}}<p> 
                <div>   
                    <button onclick="location.href = './comments/delete/{{comment.id}}'">Delete</button>  
                </div>
            </div>
        {% endfor %}
    </div>
{%endblock%}
