{% extends 'base.html.twig' %} {% block title %}Comments | Megs Art{% endblock %} 
{% block pagemenu %}
    <div id="page">
        <ul id="page-menu">
            <li><a class="darkgrey" href="/">Home</a></li>
            <span class="grey">»</span>
            <li><a class="grey"> {{ app.request.attributes.get('_route') }}</a></li>
        </ul>
    </div>    
{% endblock %}
{% block body %}
<div id="content-top">
    <div id="content-desc">
        <h1 class="content-title">{{pageTitle}}</h1>
        <p class="content-description">{{pageDesc}}
        </p>
    </div>
</div>  
<div id="content">
    <ol>
    {% for comment in comments %}
        <li>
        For  <a href="/details/{{comment.artId.id}}">{{comment.artId.artTitle}}  </a> :{{comment.artComment}} from {{comment.userId.userName}} on {{comment.commentDate | date("d.m.Y")}} 
        <a href="./comments/edit/{{comment.id}}">Edit</a> 
            <a href="./comments/delete/{{comment.id}}">Delete</a>  
        </li>
    {% endfor %}
    </ol>
</div>
{%endblock%}
