{% extends 'base.html.twig' %} {% block title %}Paintings | Megs Art{% endblock %} 
{% block pagemenu %}
    <div class="page">
        <ul class="page-menu">
            <li><a class="darkgrey" href="/">Home</a></li>
            <span class="grey">»</span>
            <li><a class="grey"> {{ app.request.attributes.get('_route') }}</a></li>
        </ul>
    </div>    
{% endblock %}
{% block body %}
    <div id="content-top">
        <div id="content-desc">
            <h1 class="content-title">{{pageTitle}}</h1>
            <p class="content-description">{{pageDesc}}
            </p>
        </div>
    </div>  
    <div id="content">
        {% for art in arts %}
            <div class="publications">
                <p><a href="../details/{{art.id}}">{{art.artTitle}}</a> created on {{art.artDate |date("d.m.Y")}}</p>
                <a href="../details/{{art.id}}"><img src="{{asset('uploads/arts/')}}{{art.artImage}}" alt="{{art.artTitle}}" ></a>
                <div>
                    <button onclick="location.href = './details/{{art.id}}'">View</button> 
                    <button onclick="location.href = './edit/{{art.id}}'">Edit</button> 
                    <button onclick="location.href = './delete/{{art.id}}'">Delete</button> 
                </div>
            </div>
        {% endfor %}
    </div>
{%endblock%}