{% extends 'base.html.twig' %}
{% block title %}About | Megs Art{% endblock %}
{% block pagemenu %}
    <div class="page">
        <ul class="page-menu">
            <li><a class="darkgrey" href="/">Home</a></li>
            <span class="grey">»</span>
            <li><a class="grey"> {{ app.request.attributes.get('_route') }}</a></li>
        </ul>
    </div>    
{% endblock %}
{% block body %}
    <div id="content-top">
        <div id="content-desc">
            <h1 class="content-title">{{pageTitle}}</h1>
            <p class="content-description">{{pageDesc}}
            </p>
        </div>
        <!-- end #category-inner -->
    </div>
    <div id="content">
        <div id="content-left-side">
            <div class="post-about">
                <h2 class="title"><a href="/contact">Miglena Stoyanova</a></h2>
                <div class="post-thumbnail-about">
                    <a href="/contact">
                        <img src="{{asset('images/about.jpg')}}" class="post-thumb-about" alt="My portrait" width="300"> 
                    </a>
                </div>
                <p id="content-about" class="indent">Hi, my name is Miglena Stoyanova, and I'm a professional artist, based in Varna, Bulgaria.  I usually create my art with traditional media such as acrylics and oils.
                    I enjoy working on a wide range of different projects, as such, the pieces on this site are a mix of commissioned work and things I did for fun that I thought were worth putting on the site and selling.
                </p>
            </div>        
        </div>
        <!-- end #left-area -->
    {% block rightside %}
        {{ render(controller('AppBundle:Arts:_rightSide')) }}
    {% endblock %}   
</div>
{%endblock%}