{% extends 'base.html.twig' %} {% block title %}Gallery | Megs Art{% endblock %} 
{% block body %}
    {{ app.request.attributes.get('_route') }}
<div id="gallery-top">
    <div id="gallery-desc">
        <h1 class="gallery-title">Gallery</h1>
        <p class="description">Here you can see my paintings
        </p>

    </div>
    <!-- end #category-inner -->
</div>
<div id="content" class="clearfix">
    <div id="left-side">
        {% for art in arts %}
        <div class="post">
            <h2 class="title"><a href="#">{{art.artTitle}}</a></h2>
            <p class="meta-info">Posted by <a>Miglena Stoyanova</a> on {{art.artDate |date("d/m/Y")}} 
                | <a href="details/{{art.id}}/comments">comments</a>
            <div class="post-thumbnail">
                <a href="details/{{art.id}}">
                    <img src="{{asset('uploads/arts/')}}{{art.artImage}}" class="post-thumb" alt="{{art.artTitle}}" width="186" height="186"> 
                    <span class="post-overlay"></span>
                </a>
            </div>
            <!-- end .post-thumbnail -->
            <p>{{art.artDescription}}</p>
            <a href="details/{{art.id}}" class="read-more">Read More</a>
        </div>
            <div class='clearfix'></div>
        <!-- end .post-->
        {% endfor %}
        <div class="wp-pagenavi">
            <span class="pages">Page 1 of 3</span><span class="current">1</span><a class="page larger" href="https://www.elegantthemes.com/preview/Chameleon/category/blog/page/2/">2</a><a class="page larger" href="https://www.elegantthemes.com/preview/Chameleon/category/blog/page/3/">3</a>
            <a
                class="nextpostslink" rel="next" href="https://www.elegantthemes.com/preview/Chameleon/category/blog/page/2/">»</a>
        </div>
    </div>
    <!-- end #left-area -->
</div>
{% block rightside %}
    {{ render(controller('AppBundle:Arts:_rightSide')) }}
{% endblock %}

{%endblock%}